<div ng-controller="cart">
	<div>
	<h1>THESE ARE YOUR ITEMS TO BID!</h1>
		<table class="table">
			<tr>
				<th>PRODUCT NAME</th>
				<th>PRODUCT DESCRIPTION</th>
				<th>PRODUCT BASE PRICE</th>
				<th>PRODUCT SOLD PRICE</th>
				<th>PRODUCT BOUGHT BY</th>
			</tr>
			<tr ng-repeat="ad in ads">
				<td>{{ad.bought_product_name}}</td>
				<td>{{ad.bought_product_desc}}</td>
				<td>{{ad.bought_product_original_price}}</td>
				<td>{{ad.bought_product_price}}</td>
				<td>{{ad.bought_product_owner}}</td>
			</tr>
		</table>

	</div>
</div>
