<div ng-controller="register">
	<h1>Edit Profile</h1>
	<hr>
	<div class="col-md-9 personal-info">

		<h3>Personal info</h3>
		<hr>

		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-lg-3 control-label">First name:</label>
				<div class="col-lg-8">
					<input class="form-control" type="text" ng-model="first_name"
						name="first_name" placeholder="First Name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">Last name:</label>
				<div class="col-lg-8">
					<input class="form-control" type="text" ng-model="last_name"
						name="last_name" placeholder="Last Name">
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-3 control-label">Birthday:</label>
				<div class="col-lg-8">
					<input class="form-control" type="text" ng-model="bday" name="bday"
						placeholder="dd/mm/yyyy">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">EBAY Username:</label>
				<div class="col-md-8">
					<input class="form-control" type="text" ng-model="euname"
						name="euname" placeholder="EBAY USER NAME">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">CONTACT INFO:</label>
				<div class="col-md-8">
					<input class="form-control" type="text" ng-model="cinfo"
						name="cinfo" placeholder="CONTACT INFO">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">LOCATION:</label>
				<div class="col-md-8">
					<input class="form-control" type="text" ng-model="location"
						name="location" placeholder="LOCATION">
				</div>
			</div>
			<hr>
			<div class="form-group">
				<label class="col-md-3 control-label"></label>
				<div class="col-md-8">
					<input type="button" ng-click="updateProfile()"
						class="btn btn-primary" value="Save Changes">
				</div>
			</div>
			<hr>

		</form>
	</div>
</div>